@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'DynaPuff', cursive;
}
body {
    background-color:black;
    background-image:url(images/desktop.png);
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;

}
.heading{
    margin: 3%;
}
.glow{
    box-shadow: 0px 0px 10px white;
}
.text-glow{
    text-shadow: 0px 0px 10px white;
}
.heading h1{
    font-size: 50px;
    color:white;

    animation: gloww infinite 2s;
}
.dices{
    text-align: center;
   
}
.dice-size{
    width:100px;
    margin-top:8%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
  

}
.win{
    color:rgb(255, 255, 255);
    text-shadow:0px 0px 10px greenyellow;
    margin-bottom: 60px;
    margin-top: 30px;
}
.visible{
    visibility: hidden;
}
.dice1,.dice2{
    display: inline-block;
    margin:50px 50px 10px 50px;
    vertical-align: middle;
}
.player{
    color:aliceblue;
    margin:10px;
}
.animate2{
    animation: gloww  infinite 2s;
}


::-webkit-scrollbar {
    display: none;
    }
  
@keyframes gloww{
    20%{
      text-shadow:0px 0px 15px  rgb(0, 217, 255);
      transform:scale(1.02);
    }
  }
button{
    padding:5px 10px 5px 10px;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
    border:none;
    transition: 0.2s;
}
button:hover{
    box-shadow: 0px 0px 10px rgb(0, 221, 255);
    cursor:pointer;
    transform: scale(1.1);
}

.animate{
    animation: rotatee 1s infinite;
}
@keyframes rotatee{
    100%{
        transform: rotateY(360deg);
        box-shadow: 0px 0px 20px white;
    }
}

@media (max-width: 767px)
{
    body{
        background:url(images/mobile.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .heading h1{
       
        margin-top: 10%;
    }
    .dices{
        margin-top: 15%;
    }
    button{
        font-size:25px;
    }
    .player{
        margin-bottom: 5px;
    }
}
footer{
    bottom: 0;
    color:aliceblue;
    margin-bottom: 0px;

}
#preloader{
    top:0%;
    background: #000 url(images/preloader.gif) no-repeat center;
    height: 100vh;
    width: 102%;
    position:fixed;
    z-index:100;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .pretext{
    margin-top:30%;
    margin-left: 10px;
    color:rgba(238, 255, 0, 0.893);
    font-size: 1.5rem;
    font-family: 'Staatliches', cursive;
    animation: glowww infinite 2s;
  }
  @keyframes glowww{
    20%{
      text-shadow:0px 0px 15px  rgb(251, 255, 0);
      transform:scale(1.02);
    }
  }